body {
    font-family: 'Arial', sans-serif;
    line-height: 1.2;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
}

.header {
    text-align: left;
    margin-bottom: 30px;
    border-bottom: 2px solid #333;
    padding-bottom: 20px;
}

.header h1 {
    color: #2c3e50;
    font-size: 2.5em;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .header-text {
    flex: 1;
    /* 根据需要调整右侧边距 */
    margin-right: 20px;
  }
  
  .header-photo img {
    max-width: 200px;
    height: auto;
    border-radius: 77%;
  }

.contact-info {
    margin-top: 10px;
}

.contact-info a {
    color: #3498db;
    text-decoration: none;
}

.section {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.section h2 {
    color: #2c3e50;
    border-left: 4px solid #e70000;
    padding-left: 10px;
}

.sub-section h3 {
    color: #2c3e50;
    border-bottom: 2px solid #3498db;
    padding-bottom: 5px;
    margin-top: 20px;
    font-size: 1.3em;
  }
  
  /* 作者加粗样式 */
  .authors strong {
    font-weight: 600;
    color: #2c3e50;
  }

.education-item,
.publication-item,
.teaching-item,
.others-item {
    margin: 15px 0;
    padding: 10px;
    border-left: 3px solid #3498db;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: transform 0.3s ease;
}

.education-item:hover,
.publication-item:hover,
.teaching-item:hover,
.others-item:hover {
    transform: translateX(10px);
}

.date {
    color: #7f8c8d;
    font-style: italic;
}


.skills {
    list-style-type: none;
    padding: 0;
}

.skills li {
    display: inline-block;
    background-color: #ecf0f1;
    padding: 8px 15px;
    margin: 5px;
    border-radius: 20px;
}


.teaching-item h3 {
    color: #2c3e50;
    margin-bottom: 5px;
}

.teaching-item .role {
    color: #7f8c8d;
    font-style: italic;
    margin-bottom: 5px;
}

.teaching-item .location {
    color: #555;
    font-size: 0.9em;
}
